Minecraft Origin/hmcl.log

Minecraft Origin/.minecraft/logs
Minecraft Origin/.minecraft/saves
Minecraft Origin/.minecraft/NVIDIA
Minecraft Origin/.minecraft/crash-reports
Minecraft Origin/.minecraft/resourcepacks
Minecraft Origin/.minecraft/.mixin.out
Minecraft Origin/.minecraft/liteconfig

Minecraft Origin/.minecraft/usercache.json
Minecraft Origin/.minecraft/usernamecache.json
Minecraft Origin/.minecraft/launcher_profiles.json

Minecraft Origin/.minecraft/versions/1.12.2/logs
Minecraft Origin/.minecraft/versions/1.12.2/1.12.2-natives
Minecraft Origin/.minecraft/versions/1.12.2/resourcepacks
Minecraft Origin/.minecraft/versions/1.12.2/hmclversion.cfg

Minecraft Origin/.minecraft/versions/1.12.2-forge*/1.12.2-forge*natives

Minecraft Origin/.minecraft/config/forge.cfg
Minecraft Origin/.minecraft/config/forgeChunkLoading.cfg
Minecraft Origin/.minecraft/config/splash.properties

Minecraft Origin/.minecraft/config/InvTweaks*
Minecraft Origin/.minecraft/config/appleskin.cfg
Minecraft Origin/.minecraft/config/foamfix.cfg

Minecraft Origin/.minecraft/chooser_0.png
Minecraft Origin/.minecraft/mobs_0.png
Minecraft Origin/.minecraft/waypoints_0.png

Minecraft Origin/.minecraft/journeymap/icon
Minecraft Origin/.minecraft/journeymap/data
Minecraft Origin/.minecraft/journeymap/server
Minecraft Origin/.minecraft/journeymap/journeymap.log
