Minecraft Origin/.minecraft/saves/*

!Minecraft Origin/.minecraft/saves/基岩起源
Minecraft Origin/.minecraft/saves/基岩起源/session.lock
Minecraft Origin/.minecraft/saves/基岩起源/multipart.dat
Minecraft Origin/.minecraft/saves/基岩起源/forcedchunks.dat
Minecraft Origin/.minecraft/saves/基岩起源/BattletowerPositionsFile.txt
Minecraft Origin/.minecraft/saves/基岩起源/playerdata/
Minecraft Origin/.minecraft/saves/基岩起源/data/
Minecraft Origin/.minecraft/saves/基岩起源/DIM*/
Minecraft Origin/.minecraft/saves/基岩起源/DIM/
Minecraft Origin/.minecraft/saves/基岩起源/stats/
Minecraft Origin/.minecraft/saves/基岩起源/advancements/
Minecraft Origin/.minecraft/saves/基岩起源/AE2/
Minecraft Origin/.minecraft/saves/基岩起源/**/RedstoneEther/
Minecraft Origin/.minecraft/saves/基岩起源/NEI/
Minecraft Origin/.minecraft/saves/基岩起源/region/

Minecraft Origin/hmcl.log
Minecraft Origin/.minecraft/logs
Minecraft Origin/.minecraft/NVIDIA
Minecraft Origin/.minecraft/crash-reports
Minecraft Origin/.minecraft/.mixin.out
Minecraft Origin/.minecraft/servers.dat
Minecraft Origin/.minecraft/usercache.json
Minecraft Origin/.minecraft/usernamecache.json
Minecraft Origin/.minecraft/launcher_profiles.json
Minecraft Origin/.minecraft/versions/1.12.2/logs
Minecraft Origin/.minecraft/versions/1.12.2/1.12.2-natives
Minecraft Origin/.minecraft/versions/1.12.2/resourcepacks
Minecraft Origin/.minecraft/versions/1.12.2/hmclversion.cfg
Minecraft Origin/.minecraft/versions/1.12.2-forge*/1.12.2-forge*natives
Minecraft Origin/.minecraft/assets/skins/
Minecraft Origin/.minecraft/config/forge.cfg
Minecraft Origin/.minecraft/config/forgeChunkLoading.cfg
Minecraft Origin/.minecraft/config/splash.properties
Minecraft Origin/.minecraft/config/appleskin.cfg
Minecraft Origin/.minecraft/config/foamfix.cfg
Minecraft Origin/.minecraft/config/jei/worldSettings.cfg
Minecraft Origin/.minecraft/config/jei/bookmarks.ini
Minecraft Origin/.minecraft/config/jei/searchColors.cfg
Minecraft Origin/.minecraft/chooser_0.png
Minecraft Origin/.minecraft/mobs_0.png
Minecraft Origin/.minecraft/waypoints_0.png
Minecraft Origin/.minecraft/crafttweaker.log
Minecraft Origin/.minecraft/scripts/MineTweakerRecipeMaker.zs
Minecraft Origin/.minecraft/config/wawla.cfg
Minecraft Origin/.minecraft/config/waila/waila.cfg
Minecraft Origin/.minecraft/config/waila/theme/vanilla.json
Minecraft Origin/.minecraft/config/waila/theme/dark.json
Minecraft Origin/.minecraft/config/FlatBedrock/dimensions/nether.json
Minecraft Origin/.minecraft/config/FlatBedrock/dimensions/overworld.json
Minecraft Origin/.minecraft/config/craftingtweaks.cfg
Minecraft Origin/.minecraft/mods/memory_repo/
Minecraft Origin/.minecraft/liteconfig/liteloader.log
Minecraft Origin/.minecraft/liteconfig/liteloader.properties
Minecraft Origin/.minecraft/liteconfig/liteloader.profiles.json
Minecraft Origin/.minecraft/liteconfig/common/liteloader.keys.properties
Minecraft Origin/.minecraft/liteconfig/common/autofish_clearlag
Minecraft Origin/.minecraft/mods/VoxelMods/voxelMap
Minecraft Origin/.minecraft/config/chanceglobe.cfg
Minecraft Origin/.minecraft/config/codechickenlib.cfg
Minecraft Origin/.minecraft/config/codechicken/
Minecraft Origin/.minecraft/CustomSkinLoader/
Minecraft Origin/.minecraft/tv-cache/
Minecraft Origin/.minecraft/config/dynamiclights.cfg
Minecraft Origin/.minecraft/config/dynamiclights_dropitems.cfg
Minecraft Origin/.minecraft/config/dynamiclights_floodlights.cfg
Minecraft Origin/.minecraft/config/dynamiclights_mobequipment.cfg
Minecraft Origin/.minecraft/config/dynamiclights_otherplayers.cfg
Minecraft Origin/.minecraft/config/dynamiclights_theplayer.cfg
Minecraft Origin/.minecraft/config/dynamiclights_entityclasses.cfg
Minecraft Origin/.minecraft/config/dynamiclights_onfire.cfg
Minecraft Origin/.minecraft/config/neat.cfg
Minecraft Origin/.minecraft/config/oreexcavation_groups.json
Minecraft Origin/.minecraft/config/oreexcavation_overrides.json
Minecraft Origin/.minecraft/config/microblocks.cfg
Minecraft Origin/.minecraft/config/multipart.cfg
Minecraft Origin/.minecraft/mods/1.12.2/ChickenASM-1.12-1.0.2.7.jar
Minecraft Origin/.minecraft/config/translocators.cfg
Minecraft Origin/.minecraft/config/ironchest.cfg
Minecraft Origin/.minecraft/config/furnaceoverhaul.cfg
Minecraft Origin/.minecraft/config/ChickenChunks.cfg
Minecraft Origin/.minecraft/config/chiselsandbits_clipboard.cfg
Minecraft Origin/.minecraft/config/chiselsandbits.cfg
Minecraft Origin/.minecraft/config/storagedrawers.cfg
Minecraft Origin/.minecraft/config/betterbuilderswands.cfg
Minecraft Origin/.minecraft/config/cyclic_ores.cfg
Minecraft Origin/.minecraft/config/bookshelf.cfg
Minecraft Origin/.minecraft/config/eplus.cfg
Minecraft Origin/.minecraft/local/client/rtdata.json
Minecraft Origin/.minecraft/config/WirelessRedstone.cfg
Minecraft Origin/.minecraft/config/baubles.cfg
Minecraft Origin/.minecraft/config/roost.cfg
Minecraft Origin/.minecraft/config/chickens/
Minecraft Origin/.minecraft/config/morechickens.cfg
Minecraft Origin/.minecraft/config/bibliocraft.cfg
Minecraft Origin/.minecraft/config/bigtrees/
Minecraft Origin/.minecraft/config/OpenModsLibCore.json
Minecraft Origin/.minecraft/config/openmods.cfg
Minecraft Origin/.minecraft/config/ctm.cfg
Minecraft Origin/.minecraft/config/twilightforest.cfg
Minecraft Origin/.minecraft/config/ProjectE/
Minecraft Origin/.minecraft/config/hammercore.cfg
Minecraft Origin/.minecraft/config/Expanded Equivalence/compactmachines3/ExpansionCompactMachines.cfg
Minecraft Origin/.minecraft/config/ruins_config/
Minecraft Origin/.minecraft/config/ruins.txt
Minecraft Origin/.minecraft/hs_err_pid*.log
Minecraft Origin/.minecraft/config/Lootbags_BagConfig.cfg
Minecraft Origin/.minecraft/config/chisel.cfg
Minecraft Origin/.minecraft/config/TinkerModules.cfg
Minecraft Origin/.minecraft/config/ProjectRedRelocation.cfg
Minecraft Origin/.minecraft/config/ProjectRed.cfg
Minecraft Origin/.minecraft/config/redstonepaste.cfg
Minecraft Origin/.minecraft/config/avaritia.cfg
Minecraft Origin/.minecraft/config/denseneutroncollectors.cfg
Minecraft Origin/.minecraft/config/cofh/
Minecraft Origin/.minecraft/config/brandon3055/
Minecraft Origin/.minecraft/config/endercore/
Minecraft Origin/.minecraft/journeymap/data/
Minecraft Origin/.minecraft/journeymap/icon/
Minecraft Origin/.minecraft/journeymap/server/
Minecraft Origin/.minecraft/journeymap/colorpalette.html
Minecraft Origin/.minecraft/journeymap/colorpalette.json
Minecraft Origin/.minecraft/journeymap/journeymap.log
Minecraft Origin/.minecraft/config/journeymap_server.cfg
Minecraft Origin/.minecraft/config/journeymap_ModInfo.cfg
Minecraft Origin/.minecraft/config/fastbench.cfg
Minecraft Origin/.minecraft/config/ExCompressum/
Minecraft Origin/.minecraft/config/enderio/recipes/
Minecraft Origin/.minecraft/config/enderio/enderio.cfg
Minecraft Origin/.minecraft/config/enderio/enderiopowertools.cfg
Minecraft Origin/.minecraft/config/enderio/enderioendergy.cfg
Minecraft Origin/.minecraft/config/enderio/enderioendergy.cfg
Minecraft Origin/.minecraft/config/enderio/enderiointegrationforestry.cfg
Minecraft Origin/.minecraft/config/enderio/painter_paint_sources_*.xml
Minecraft Origin/.minecraft/config/laser_drill_ores/
Minecraft Origin/.minecraft/config/teslacorelib.cfg
Minecraft Origin/.minecraft/config/extrautils2.cfg
Minecraft Origin/.minecraft/config/AppliedEnergistics2/items.csv
Minecraft Origin/.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
Minecraft Origin/.minecraft/config/AppliedEnergistics2/Facades.cfg
Minecraft Origin/.minecraft/config/AppliedEnergistics2/extracells.cfg
Minecraft Origin/.minecraft/config/igwmod.cfg
Minecraft Origin/.minecraft/BotaniaVars.dat
Minecraft Origin/.minecraft/config/botania.cfg
Minecraft Origin/.minecraft/config/IC2.ini
Minecraft Origin/.minecraft/config/extraanvils.json
Minecraft Origin/.minecraft/config/advanced_solar_panels.cfg
Minecraft Origin/.minecraft/config/advanced_solar_panels_MTRecipes.cfg
Minecraft Origin/.minecraft/config/environmentaltech/
Minecraft Origin/.minecraft/config/valkyrielib/main.cfg
Minecraft Origin/.minecraft/valkyrielib/
Minecraft Origin/.minecraft/config/aroma1997/aroma1997core.cfg
Minecraft Origin/.minecraft/config/aroma1997/tatw.cfg
Minecraft Origin/.minecraft/config/mcjtylib.cfg
Minecraft Origin/.minecraft/config/rftools/
Minecraft Origin/.minecraft/config/immersiveengineering.cfg
Minecraft Origin/.minecraft/config/buildcraft/
Minecraft Origin/.minecraft/config/railcraft/
Minecraft Origin/.minecraft/hammercore/
Minecraft Origin/.minecraft/config/energyconverters.cfg
Minecraft Origin/.minecraft/config/mekanism/
Minecraft Origin/.minecraft/config/mekanism.cfg
